<a href="https://colab.research.google.com/github/ZeinaAleid/Ai-project/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Sleep_health_and_lifestyle_dataset_edited.csv')

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      368 non-null    float64
 3   Occupation               370 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         371 non-null    float64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             365 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               373 non-null    float64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(4), int64(4), object(5)
memory usage: 38.1+ KB
None

There is 5 categorical columns and 8 numerical columns

In [6]:
print(df.isnull().sum())

Person ID                    0
Gender                       0
Age                          6
Occupation                   4
Sleep Duration               0
Quality of Sleep             3
Physical Activity Level      0
Stress Level                 0
BMI Category                 9
Blood Pressure               0
Heart Rate                   1
Daily Steps                  0
Sleep Disorder             219
dtype: int64

There are null values in multiple columns, which vary between numerical and categorical data, such as Age, Sleep Disorder, Occupation, Quality of Sleep, BMI Category, and Heart Rate. Each column has a frequency count of null values next to its name, and the column with the highest number of null values is Sleep Disorder.

In [7]:
print(df.isnull().any(axis=1).sum())

227

227 rows contain null values

In [8]:
df['Age'] = df['Age'].fillna(df['Age'].median());

numerical column, each null value was replaced with the meadian

In [9]:
df['Occupation'] = df['Occupation'].fillna(df['Occupation'].mode()[0])

categorical column, each null vaue was replaced with the first mode

In [10]:
df['Quality of Sleep'] = df['Quality of Sleep'].fillna(df['Quality of Sleep'].mean());

numerical column, each null value was replaced with the mean

In [11]:
df['BMI Category'] = df['BMI Category'].fillna(df['BMI Category'].mode()[0])

categorical column, each null vaue was replaced with the first mode

In [12]:
df['Heart Rate'] = df['Heart Rate'].fillna(df['Heart Rate'].median());

numerical column, each null value was replaced with the meadian

In [13]:
df['Sleep Disorder'] = df['Sleep Disorder'].fillna(df['Sleep Disorder'].mode(dropna=True)[0])

categorical columns, each null value was replaced with the second mode, as the first mode was NaN. I used mode(dropna=True) to exclude null values when calculating the mode.

In [14]:
print(df.isnull().sum())

Person ID                  0
Gender                     0
Age                        0
Occupation                 0
Sleep Duration             0
Quality of Sleep           0
Physical Activity Level    0
Stress Level               0
BMI Category               0
Blood Pressure             0
Heart Rate                 0
Daily Steps                0
Sleep Disorder             0
dtype: int64

After filling all the null values, all columns are completely filled, and the frequency of null values is 0

In [15]:
print(df.isnull().any(axis=1).sum())

0

After filling all the null values, zero rows contain null values